/*GOOGLE FONTS*/

/* font-family: "Protest Guerrilla", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

/*font-family: "M PLUS Rounded 1c", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Protest+Guerrilla&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #24292D;
  display: flex;
  justify-content: center;

}

.container{
  height: 100vh;
  width: 75%;
}

/*HEADER-LOGO*/
header{
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo{
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: whitesmoke;
}

.description{
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: whitesmoke;
  margin-top: 35px;
}

/*MAIN*/

main{
  height: 70%;
}

.section01{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.btc, .eth, .usdc, .sol, .xrp{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;

  flex-direction: column;
}

.porcentagem{
  color: white;
  margin-top: 15px;
}

.price{
  color: white;
}

.section02{
  height: 50%;
}
