/*GOOGLE FONTS*/

/* font-family: "Protest Guerrilla", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

/*font-family: "M PLUS Rounded 1c", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Protest+Guerrilla&display=swap');

/*font-family: "Libre Baskerville", serif;*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #181A20;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container{
  height: 100vh;
  width: 75%;
}

/*HEADER-LOGO*/
header{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo{
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #F0B90B;
  border: none;
}

.description{
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: whitesmoke;
  margin-top: 20px;
  font-size: 21px;
  text-align: center;

}

/*MAIN*/

.section01{
  height: 30%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.btc, .eth, .usdc, .sol, .xrp{
  width: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px 0px 20px;
}

.iconCrypto{
  width: 45px;
  
}

.criptoName{
  color: white;
  margin-top: 15px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 600;
}

.percentage{
  color: white;
  margin-top: 12px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  font-size: 13.5px;
}

.price{
  color: white;
  transition: 0.8s color ease-out;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-top: 3px;
}

/*BREAKPOINTS*/

/*768px*/

@media only screen and (max-width: 768px) {
  .container{
    width: 75%;
  }

  header{
    height: 25%;

  }

  .logo{
    font-size: 60px;
  }

  .description{
    font-size: 20px;
    width: 400px;
  }

  .section01{
    display: flex;
    flex-wrap: wrap;
    gap: 0px 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .btc, .eth, .usdc, .sol, .xrp{
    height: 185px;

  }

  .iconCrypto{
    width: 45px;
  }

  .criptoName{
    font-size: 15px;

  }

  .percentage{
    font-size: 13px;
    margin-top: 4px;
  }

  .price{
    font-size: 15px;
  }
  
}

/*480px*/

@media only screen and (max-width: 480px) {
  .container{
    width: 90%;
  }

  header{
    margin-top: 20px;
  }

  .logo{
    font-size: 50px;
  }

  .description{
    font-size: 17px;
    width: 300px;
  }

  .section01{
    display: flex;
    flex-wrap: wrap;
    gap: 0px 5px;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
  }

  .btc, .eth, .usdc, .sol, .xrp{
    margin: 0;
    width: 20%;
    padding: 10px 0px;
    height: 145px;
  }

  .iconCrypto{
    width: 35px;
  }

  .criptoName{
    font-size: 11px;
  }

  .percentage{
    font-size: 12px;
    margin-top: 4px;
  }

  .price{
    font-size: 14px;
  }

  
}

 /*425px*/

@media only screen and (max-width: 425px) {
  .container{
    width: 100%;
  }

  header{
    margin-top: 20px;
  }

  .logo{
    font-size: 50px;
  }

  .description{
    font-size: 11px;
    width: 300px;
  }

  .section01{
    display: flex;
    flex-wrap: wrap;
    gap: 0px 5px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .btc, .eth, .usdc, .sol, .xrp{
    margin: 0;
    width: 20%;
    padding: 10px 0px;
    height: 145px;
  }

  .iconCrypto{
    width: 35px;
  }

  .criptoName{
    font-size: 11px;
  }

  .percentage{
    font-size: 12px;
    margin-top: 4px;
  }

  .price{
    font-size: 14px;
  }

  
}